<footer class="footer py-3 bg-light mt-auto">
    <div class="conatiner">
        <span class="text-muted">
            sticky footer
        </span>
    </div>


</footer>

<!-- <script src="\js\main.js"></script> -->
</body>

</html>